<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd">
<suite name="Web and API Test Suite" parallel="methods" thread-count="3">
    <!-- Add listeners here -->
    <listeners>
        <listener class-name="com.futurework.partner.utilities.GlobalRetryListener"/>
        <listener class-name="io.qameta.allure.testng.AllureTestNg"/>
    </listeners>
    <!-- Chrome Test -->
    <test verbose="2" name="Chrome Web Test">
        <parameter name="browser" value="chrome"/>
        <classes>
            <class name="com.futurework.partner.webtestcases.RegisterTest"/>
            <class name="com.futurework.partner.webtestcases.LoginTest"/>
        </classes>
    </test>

    <!-- Firefox Test -->
    <test verbose="2" name="Firefox Web Test">
        <parameter name="browser" value="firefox"/>
        <classes>
            <class name="com.futurework.partner.webtestcases.RegisterTest"/>
            <class name="com.futurework.partner.webtestcases.LoginTest"/>
        </classes>
    </test>

    <!-- API Test -->
    <test verbose="2" name="API Test">
        <parameter name="browser" value="none"/>
        <classes>
            <class name="com.futurework.partner.apitestCases.PartnerAPITest"/>
        </classes>
    </test>
</suite>